/* Trigonometry definitions for css */

:root {
	/* Cos definitions in degrees */
	--cos_deg_0: 1.00000;
	--cos_deg_1: 0.99985;
	--cos_deg_2: 0.99939;
	--cos_deg_3: 0.99863;
	--cos_deg_4: 0.99756;
	--cos_deg_5: 0.99619;
	--cos_deg_6: 0.99452;
	--cos_deg_7: 0.99255;
	--cos_deg_8: 0.99027;
	--cos_deg_9: 0.98769;
	--cos_deg_10: 0.98481;
	--cos_deg_11: 0.98163;
	--cos_deg_12: 0.97815;
	--cos_deg_13: 0.97437;
	--cos_deg_14: 0.97030;
	--cos_deg_15: 0.96593;
	--cos_deg_16: 0.96126;
	--cos_deg_17: 0.95630;
	--cos_deg_18: 0.95106;
	--cos_deg_19: 0.94552;
	--cos_deg_20: 0.93969;
	--cos_deg_21: 0.93358;
	--cos_deg_22: 0.92718;
	--cos_deg_23: 0.92050;
	--cos_deg_24: 0.91355;
	--cos_deg_25: 0.90631;
	--cos_deg_26: 0.89879;
	--cos_deg_27: 0.89101;
	--cos_deg_28: 0.88295;
	--cos_deg_29: 0.87462;
	--cos_deg_30: 0.86603;
	--cos_deg_31: 0.85717;
	--cos_deg_32: 0.84805;
	--cos_deg_33: 0.83867;
	--cos_deg_34: 0.82904;
	--cos_deg_35: 0.81915;
	--cos_deg_36: 0.80902;
	--cos_deg_37: 0.79864;
	--cos_deg_38: 0.78801;
	--cos_deg_39: 0.77715;
	--cos_deg_40: 0.76604;
	--cos_deg_41: 0.75471;
	--cos_deg_42: 0.74314;
	--cos_deg_43: 0.73135;
	--cos_deg_44: 0.71934;
	--cos_deg_45: 0.70711;
	--cos_deg_46: 0.69466;
	--cos_deg_47: 0.68200;
	--cos_deg_48: 0.66913;
	--cos_deg_49: 0.65606;
	--cos_deg_50: 0.64279;
	--cos_deg_51: 0.62932;
	--cos_deg_52: 0.61566;
	--cos_deg_53: 0.60182;
	--cos_deg_54: 0.58779;
	--cos_deg_55: 0.57358;
	--cos_deg_56: 0.55919;
	--cos_deg_57: 0.54464;
	--cos_deg_58: 0.52992;
	--cos_deg_59: 0.51504;
	--cos_deg_60: 0.50000;
	--cos_deg_61: 0.48481;
	--cos_deg_62: 0.46947;
	--cos_deg_63: 0.45399;
	--cos_deg_64: 0.43837;
	--cos_deg_65: 0.42262;
	--cos_deg_66: 0.40674;
	--cos_deg_67: 0.39073;
	--cos_deg_68: 0.37461;
	--cos_deg_69: 0.35837;
	--cos_deg_70: 0.34202;
	--cos_deg_71: 0.32557;
	--cos_deg_72: 0.30902;
	--cos_deg_73: 0.29237;
	--cos_deg_74: 0.27564;
	--cos_deg_75: 0.25882;
	--cos_deg_76: 0.24192;
	--cos_deg_77: 0.22495;
	--cos_deg_78: 0.20791;
	--cos_deg_79: 0.19081;
	--cos_deg_80: 0.17365;
	--cos_deg_81: 0.15643;
	--cos_deg_82: 0.13917;
	--cos_deg_83: 0.12187;
	--cos_deg_84: 0.10453;
	--cos_deg_85: 0.08716;
	--cos_deg_86: 0.06976;
	--cos_deg_87: 0.05234;
	--cos_deg_88: 0.03490;
	--cos_deg_89: 0.01745;
	--cos_deg_90: 0.00000;
	--cos_deg_91: -0.01745;
	--cos_deg_92: -0.03490;
	--cos_deg_93: -0.05234;
	--cos_deg_94: -0.06976;
	--cos_deg_95: -0.08716;
	--cos_deg_96: -0.10453;
	--cos_deg_97: -0.12187;
	--cos_deg_98: -0.13917;
	--cos_deg_99: -0.15643;
	--cos_deg_100: -0.17365;
	--cos_deg_101: -0.19081;
	--cos_deg_102: -0.20791;
	--cos_deg_103: -0.22495;
	--cos_deg_104: -0.24192;
	--cos_deg_105: -0.25882;
	--cos_deg_106: -0.27564;
	--cos_deg_107: -0.29237;
	--cos_deg_108: -0.30902;
	--cos_deg_109: -0.32557;
	--cos_deg_110: -0.34202;
	--cos_deg_111: -0.35837;
	--cos_deg_112: -0.37461;
	--cos_deg_113: -0.39073;
	--cos_deg_114: -0.40674;
	--cos_deg_115: -0.42262;
	--cos_deg_116: -0.43837;
	--cos_deg_117: -0.45399;
	--cos_deg_118: -0.46947;
	--cos_deg_119: -0.48481;
	--cos_deg_120: -0.50000;
	--cos_deg_121: -0.51504;
	--cos_deg_122: -0.52992;
	--cos_deg_123: -0.54464;
	--cos_deg_124: -0.55919;
	--cos_deg_125: -0.57358;
	--cos_deg_126: -0.58779;
	--cos_deg_127: -0.60182;
	--cos_deg_128: -0.61566;
	--cos_deg_129: -0.62932;
	--cos_deg_130: -0.64279;
	--cos_deg_131: -0.65606;
	--cos_deg_132: -0.66913;
	--cos_deg_133: -0.68200;
	--cos_deg_134: -0.69466;
	--cos_deg_135: -0.70711;
	--cos_deg_136: -0.71934;
	--cos_deg_137: -0.73135;
	--cos_deg_138: -0.74314;
	--cos_deg_139: -0.75471;
	--cos_deg_140: -0.76604;
	--cos_deg_141: -0.77715;
	--cos_deg_142: -0.78801;
	--cos_deg_143: -0.79864;
	--cos_deg_144: -0.80902;
	--cos_deg_145: -0.81915;
	--cos_deg_146: -0.82904;
	--cos_deg_147: -0.83867;
	--cos_deg_148: -0.84805;
	--cos_deg_149: -0.85717;
	--cos_deg_150: -0.86603;
	--cos_deg_151: -0.87462;
	--cos_deg_152: -0.88295;
	--cos_deg_153: -0.89101;
	--cos_deg_154: -0.89879;
	--cos_deg_155: -0.90631;
	--cos_deg_156: -0.91355;
	--cos_deg_157: -0.92050;
	--cos_deg_158: -0.92718;
	--cos_deg_159: -0.93358;
	--cos_deg_160: -0.93969;
	--cos_deg_161: -0.94552;
	--cos_deg_162: -0.95106;
	--cos_deg_163: -0.95630;
	--cos_deg_164: -0.96126;
	--cos_deg_165: -0.96593;
	--cos_deg_166: -0.97030;
	--cos_deg_167: -0.97437;
	--cos_deg_168: -0.97815;
	--cos_deg_169: -0.98163;
	--cos_deg_170: -0.98481;
	--cos_deg_171: -0.98769;
	--cos_deg_172: -0.99027;
	--cos_deg_173: -0.99255;
	--cos_deg_174: -0.99452;
	--cos_deg_175: -0.99619;
	--cos_deg_176: -0.99756;
	--cos_deg_177: -0.99863;
	--cos_deg_178: -0.99939;
	--cos_deg_179: -0.99985;
	--cos_deg_180: -1.00000;
	--cos_deg_181: -0.99985;
	--cos_deg_182: -0.99939;
	--cos_deg_183: -0.99863;
	--cos_deg_184: -0.99756;
	--cos_deg_185: -0.99619;
	--cos_deg_186: -0.99452;
	--cos_deg_187: -0.99255;
	--cos_deg_188: -0.99027;
	--cos_deg_189: -0.98769;
	--cos_deg_190: -0.98481;
	--cos_deg_191: -0.98163;
	--cos_deg_192: -0.97815;
	--cos_deg_193: -0.97437;
	--cos_deg_194: -0.97030;
	--cos_deg_195: -0.96593;
	--cos_deg_196: -0.96126;
	--cos_deg_197: -0.95630;
	--cos_deg_198: -0.95106;
	--cos_deg_199: -0.94552;
	--cos_deg_200: -0.93969;
	--cos_deg_201: -0.93358;
	--cos_deg_202: -0.92718;
	--cos_deg_203: -0.92050;
	--cos_deg_204: -0.91355;
	--cos_deg_205: -0.90631;
	--cos_deg_206: -0.89879;
	--cos_deg_207: -0.89101;
	--cos_deg_208: -0.88295;
	--cos_deg_209: -0.87462;
	--cos_deg_210: -0.86603;
	--cos_deg_211: -0.85717;
	--cos_deg_212: -0.84805;
	--cos_deg_213: -0.83867;
	--cos_deg_214: -0.82904;
	--cos_deg_215: -0.81915;
	--cos_deg_216: -0.80902;
	--cos_deg_217: -0.79864;
	--cos_deg_218: -0.78801;
	--cos_deg_219: -0.77715;
	--cos_deg_220: -0.76604;
	--cos_deg_221: -0.75471;
	--cos_deg_222: -0.74314;
	--cos_deg_223: -0.73135;
	--cos_deg_224: -0.71934;
	--cos_deg_225: -0.70711;
	--cos_deg_226: -0.69466;
	--cos_deg_227: -0.68200;
	--cos_deg_228: -0.66913;
	--cos_deg_229: -0.65606;
	--cos_deg_230: -0.64279;
	--cos_deg_231: -0.62932;
	--cos_deg_232: -0.61566;
	--cos_deg_233: -0.60182;
	--cos_deg_234: -0.58779;
	--cos_deg_235: -0.57358;
	--cos_deg_236: -0.55919;
	--cos_deg_237: -0.54464;
	--cos_deg_238: -0.52992;
	--cos_deg_239: -0.51504;
	--cos_deg_240: -0.50000;
	--cos_deg_241: -0.48481;
	--cos_deg_242: -0.46947;
	--cos_deg_243: -0.45399;
	--cos_deg_244: -0.43837;
	--cos_deg_245: -0.42262;
	--cos_deg_246: -0.40674;
	--cos_deg_247: -0.39073;
	--cos_deg_248: -0.37461;
	--cos_deg_249: -0.35837;
	--cos_deg_250: -0.34202;
	--cos_deg_251: -0.32557;
	--cos_deg_252: -0.30902;
	--cos_deg_253: -0.29237;
	--cos_deg_254: -0.27564;
	--cos_deg_255: -0.25882;
	--cos_deg_256: -0.24192;
	--cos_deg_257: -0.22495;
	--cos_deg_258: -0.20791;
	--cos_deg_259: -0.19081;
	--cos_deg_260: -0.17365;
	--cos_deg_261: -0.15643;
	--cos_deg_262: -0.13917;
	--cos_deg_263: -0.12187;
	--cos_deg_264: -0.10453;
	--cos_deg_265: -0.08716;
	--cos_deg_266: -0.06976;
	--cos_deg_267: -0.05234;
	--cos_deg_268: -0.03490;
	--cos_deg_269: -0.01745;
	--cos_deg_270: -0.00000;
	--cos_deg_271: 0.01745;
	--cos_deg_272: 0.03490;
	--cos_deg_273: 0.05234;
	--cos_deg_274: 0.06976;
	--cos_deg_275: 0.08716;
	--cos_deg_276: 0.10453;
	--cos_deg_277: 0.12187;
	--cos_deg_278: 0.13917;
	--cos_deg_279: 0.15643;
	--cos_deg_280: 0.17365;
	--cos_deg_281: 0.19081;
	--cos_deg_282: 0.20791;
	--cos_deg_283: 0.22495;
	--cos_deg_284: 0.24192;
	--cos_deg_285: 0.25882;
	--cos_deg_286: 0.27564;
	--cos_deg_287: 0.29237;
	--cos_deg_288: 0.30902;
	--cos_deg_289: 0.32557;
	--cos_deg_290: 0.34202;
	--cos_deg_291: 0.35837;
	--cos_deg_292: 0.37461;
	--cos_deg_293: 0.39073;
	--cos_deg_294: 0.40674;
	--cos_deg_295: 0.42262;
	--cos_deg_296: 0.43837;
	--cos_deg_297: 0.45399;
	--cos_deg_298: 0.46947;
	--cos_deg_299: 0.48481;
	--cos_deg_300: 0.50000;
	--cos_deg_301: 0.51504;
	--cos_deg_302: 0.52992;
	--cos_deg_303: 0.54464;
	--cos_deg_304: 0.55919;
	--cos_deg_305: 0.57358;
	--cos_deg_306: 0.58779;
	--cos_deg_307: 0.60182;
	--cos_deg_308: 0.61566;
	--cos_deg_309: 0.62932;
	--cos_deg_310: 0.64279;
	--cos_deg_311: 0.65606;
	--cos_deg_312: 0.66913;
	--cos_deg_313: 0.68200;
	--cos_deg_314: 0.69466;
	--cos_deg_315: 0.70711;
	--cos_deg_316: 0.71934;
	--cos_deg_317: 0.73135;
	--cos_deg_318: 0.74314;
	--cos_deg_319: 0.75471;
	--cos_deg_320: 0.76604;
	--cos_deg_321: 0.77715;
	--cos_deg_322: 0.78801;
	--cos_deg_323: 0.79864;
	--cos_deg_324: 0.80902;
	--cos_deg_325: 0.81915;
	--cos_deg_326: 0.82904;
	--cos_deg_327: 0.83867;
	--cos_deg_328: 0.84805;
	--cos_deg_329: 0.85717;
	--cos_deg_330: 0.86603;
	--cos_deg_331: 0.87462;
	--cos_deg_332: 0.88295;
	--cos_deg_333: 0.89101;
	--cos_deg_334: 0.89879;
	--cos_deg_335: 0.90631;
	--cos_deg_336: 0.91355;
	--cos_deg_337: 0.92050;
	--cos_deg_338: 0.92718;
	--cos_deg_339: 0.93358;
	--cos_deg_340: 0.93969;
	--cos_deg_341: 0.94552;
	--cos_deg_342: 0.95106;
	--cos_deg_343: 0.95630;
	--cos_deg_344: 0.96126;
	--cos_deg_345: 0.96593;
	--cos_deg_346: 0.97030;
	--cos_deg_347: 0.97437;
	--cos_deg_348: 0.97815;
	--cos_deg_349: 0.98163;
	--cos_deg_350: 0.98481;
	--cos_deg_351: 0.98769;
	--cos_deg_352: 0.99027;
	--cos_deg_353: 0.99255;
	--cos_deg_354: 0.99452;
	--cos_deg_355: 0.99619;
	--cos_deg_356: 0.99756;
	--cos_deg_357: 0.99863;
	--cos_deg_358: 0.99939;
	--cos_deg_359: 0.99985;
	--cos_deg_360: 1.00000;

}
