/* Trigonometry definitions for css */

:root {
	/* Sin definitions in degrees */
	--sin_deg_0: 0.00000;
	--sin_deg_1: 0.01745;
	--sin_deg_2: 0.03490;
	--sin_deg_3: 0.05234;
	--sin_deg_4: 0.06976;
	--sin_deg_5: 0.08716;
	--sin_deg_6: 0.10453;
	--sin_deg_7: 0.12187;
	--sin_deg_8: 0.13917;
	--sin_deg_9: 0.15643;
	--sin_deg_10: 0.17365;
	--sin_deg_11: 0.19081;
	--sin_deg_12: 0.20791;
	--sin_deg_13: 0.22495;
	--sin_deg_14: 0.24192;
	--sin_deg_15: 0.25882;
	--sin_deg_16: 0.27564;
	--sin_deg_17: 0.29237;
	--sin_deg_18: 0.30902;
	--sin_deg_19: 0.32557;
	--sin_deg_20: 0.34202;
	--sin_deg_21: 0.35837;
	--sin_deg_22: 0.37461;
	--sin_deg_23: 0.39073;
	--sin_deg_24: 0.40674;
	--sin_deg_25: 0.42262;
	--sin_deg_26: 0.43837;
	--sin_deg_27: 0.45399;
	--sin_deg_28: 0.46947;
	--sin_deg_29: 0.48481;
	--sin_deg_30: 0.50000;
	--sin_deg_31: 0.51504;
	--sin_deg_32: 0.52992;
	--sin_deg_33: 0.54464;
	--sin_deg_34: 0.55919;
	--sin_deg_35: 0.57358;
	--sin_deg_36: 0.58779;
	--sin_deg_37: 0.60182;
	--sin_deg_38: 0.61566;
	--sin_deg_39: 0.62932;
	--sin_deg_40: 0.64279;
	--sin_deg_41: 0.65606;
	--sin_deg_42: 0.66913;
	--sin_deg_43: 0.68200;
	--sin_deg_44: 0.69466;
	--sin_deg_45: 0.70711;
	--sin_deg_46: 0.71934;
	--sin_deg_47: 0.73135;
	--sin_deg_48: 0.74314;
	--sin_deg_49: 0.75471;
	--sin_deg_50: 0.76604;
	--sin_deg_51: 0.77715;
	--sin_deg_52: 0.78801;
	--sin_deg_53: 0.79864;
	--sin_deg_54: 0.80902;
	--sin_deg_55: 0.81915;
	--sin_deg_56: 0.82904;
	--sin_deg_57: 0.83867;
	--sin_deg_58: 0.84805;
	--sin_deg_59: 0.85717;
	--sin_deg_60: 0.86603;
	--sin_deg_61: 0.87462;
	--sin_deg_62: 0.88295;
	--sin_deg_63: 0.89101;
	--sin_deg_64: 0.89879;
	--sin_deg_65: 0.90631;
	--sin_deg_66: 0.91355;
	--sin_deg_67: 0.92050;
	--sin_deg_68: 0.92718;
	--sin_deg_69: 0.93358;
	--sin_deg_70: 0.93969;
	--sin_deg_71: 0.94552;
	--sin_deg_72: 0.95106;
	--sin_deg_73: 0.95630;
	--sin_deg_74: 0.96126;
	--sin_deg_75: 0.96593;
	--sin_deg_76: 0.97030;
	--sin_deg_77: 0.97437;
	--sin_deg_78: 0.97815;
	--sin_deg_79: 0.98163;
	--sin_deg_80: 0.98481;
	--sin_deg_81: 0.98769;
	--sin_deg_82: 0.99027;
	--sin_deg_83: 0.99255;
	--sin_deg_84: 0.99452;
	--sin_deg_85: 0.99619;
	--sin_deg_86: 0.99756;
	--sin_deg_87: 0.99863;
	--sin_deg_88: 0.99939;
	--sin_deg_89: 0.99985;
	--sin_deg_90: 1.00000;
	--sin_deg_91: 0.99985;
	--sin_deg_92: 0.99939;
	--sin_deg_93: 0.99863;
	--sin_deg_94: 0.99756;
	--sin_deg_95: 0.99619;
	--sin_deg_96: 0.99452;
	--sin_deg_97: 0.99255;
	--sin_deg_98: 0.99027;
	--sin_deg_99: 0.98769;
	--sin_deg_100: 0.98481;
	--sin_deg_101: 0.98163;
	--sin_deg_102: 0.97815;
	--sin_deg_103: 0.97437;
	--sin_deg_104: 0.97030;
	--sin_deg_105: 0.96593;
	--sin_deg_106: 0.96126;
	--sin_deg_107: 0.95630;
	--sin_deg_108: 0.95106;
	--sin_deg_109: 0.94552;
	--sin_deg_110: 0.93969;
	--sin_deg_111: 0.93358;
	--sin_deg_112: 0.92718;
	--sin_deg_113: 0.92050;
	--sin_deg_114: 0.91355;
	--sin_deg_115: 0.90631;
	--sin_deg_116: 0.89879;
	--sin_deg_117: 0.89101;
	--sin_deg_118: 0.88295;
	--sin_deg_119: 0.87462;
	--sin_deg_120: 0.86603;
	--sin_deg_121: 0.85717;
	--sin_deg_122: 0.84805;
	--sin_deg_123: 0.83867;
	--sin_deg_124: 0.82904;
	--sin_deg_125: 0.81915;
	--sin_deg_126: 0.80902;
	--sin_deg_127: 0.79864;
	--sin_deg_128: 0.78801;
	--sin_deg_129: 0.77715;
	--sin_deg_130: 0.76604;
	--sin_deg_131: 0.75471;
	--sin_deg_132: 0.74314;
	--sin_deg_133: 0.73135;
	--sin_deg_134: 0.71934;
	--sin_deg_135: 0.70711;
	--sin_deg_136: 0.69466;
	--sin_deg_137: 0.68200;
	--sin_deg_138: 0.66913;
	--sin_deg_139: 0.65606;
	--sin_deg_140: 0.64279;
	--sin_deg_141: 0.62932;
	--sin_deg_142: 0.61566;
	--sin_deg_143: 0.60182;
	--sin_deg_144: 0.58779;
	--sin_deg_145: 0.57358;
	--sin_deg_146: 0.55919;
	--sin_deg_147: 0.54464;
	--sin_deg_148: 0.52992;
	--sin_deg_149: 0.51504;
	--sin_deg_150: 0.50000;
	--sin_deg_151: 0.48481;
	--sin_deg_152: 0.46947;
	--sin_deg_153: 0.45399;
	--sin_deg_154: 0.43837;
	--sin_deg_155: 0.42262;
	--sin_deg_156: 0.40674;
	--sin_deg_157: 0.39073;
	--sin_deg_158: 0.37461;
	--sin_deg_159: 0.35837;
	--sin_deg_160: 0.34202;
	--sin_deg_161: 0.32557;
	--sin_deg_162: 0.30902;
	--sin_deg_163: 0.29237;
	--sin_deg_164: 0.27564;
	--sin_deg_165: 0.25882;
	--sin_deg_166: 0.24192;
	--sin_deg_167: 0.22495;
	--sin_deg_168: 0.20791;
	--sin_deg_169: 0.19081;
	--sin_deg_170: 0.17365;
	--sin_deg_171: 0.15643;
	--sin_deg_172: 0.13917;
	--sin_deg_173: 0.12187;
	--sin_deg_174: 0.10453;
	--sin_deg_175: 0.08716;
	--sin_deg_176: 0.06976;
	--sin_deg_177: 0.05234;
	--sin_deg_178: 0.03490;
	--sin_deg_179: 0.01745;
	--sin_deg_180: 0.00000;
	--sin_deg_181: -0.01745;
	--sin_deg_182: -0.03490;
	--sin_deg_183: -0.05234;
	--sin_deg_184: -0.06976;
	--sin_deg_185: -0.08716;
	--sin_deg_186: -0.10453;
	--sin_deg_187: -0.12187;
	--sin_deg_188: -0.13917;
	--sin_deg_189: -0.15643;
	--sin_deg_190: -0.17365;
	--sin_deg_191: -0.19081;
	--sin_deg_192: -0.20791;
	--sin_deg_193: -0.22495;
	--sin_deg_194: -0.24192;
	--sin_deg_195: -0.25882;
	--sin_deg_196: -0.27564;
	--sin_deg_197: -0.29237;
	--sin_deg_198: -0.30902;
	--sin_deg_199: -0.32557;
	--sin_deg_200: -0.34202;
	--sin_deg_201: -0.35837;
	--sin_deg_202: -0.37461;
	--sin_deg_203: -0.39073;
	--sin_deg_204: -0.40674;
	--sin_deg_205: -0.42262;
	--sin_deg_206: -0.43837;
	--sin_deg_207: -0.45399;
	--sin_deg_208: -0.46947;
	--sin_deg_209: -0.48481;
	--sin_deg_210: -0.50000;
	--sin_deg_211: -0.51504;
	--sin_deg_212: -0.52992;
	--sin_deg_213: -0.54464;
	--sin_deg_214: -0.55919;
	--sin_deg_215: -0.57358;
	--sin_deg_216: -0.58779;
	--sin_deg_217: -0.60182;
	--sin_deg_218: -0.61566;
	--sin_deg_219: -0.62932;
	--sin_deg_220: -0.64279;
	--sin_deg_221: -0.65606;
	--sin_deg_222: -0.66913;
	--sin_deg_223: -0.68200;
	--sin_deg_224: -0.69466;
	--sin_deg_225: -0.70711;
	--sin_deg_226: -0.71934;
	--sin_deg_227: -0.73135;
	--sin_deg_228: -0.74314;
	--sin_deg_229: -0.75471;
	--sin_deg_230: -0.76604;
	--sin_deg_231: -0.77715;
	--sin_deg_232: -0.78801;
	--sin_deg_233: -0.79864;
	--sin_deg_234: -0.80902;
	--sin_deg_235: -0.81915;
	--sin_deg_236: -0.82904;
	--sin_deg_237: -0.83867;
	--sin_deg_238: -0.84805;
	--sin_deg_239: -0.85717;
	--sin_deg_240: -0.86603;
	--sin_deg_241: -0.87462;
	--sin_deg_242: -0.88295;
	--sin_deg_243: -0.89101;
	--sin_deg_244: -0.89879;
	--sin_deg_245: -0.90631;
	--sin_deg_246: -0.91355;
	--sin_deg_247: -0.92050;
	--sin_deg_248: -0.92718;
	--sin_deg_249: -0.93358;
	--sin_deg_250: -0.93969;
	--sin_deg_251: -0.94552;
	--sin_deg_252: -0.95106;
	--sin_deg_253: -0.95630;
	--sin_deg_254: -0.96126;
	--sin_deg_255: -0.96593;
	--sin_deg_256: -0.97030;
	--sin_deg_257: -0.97437;
	--sin_deg_258: -0.97815;
	--sin_deg_259: -0.98163;
	--sin_deg_260: -0.98481;
	--sin_deg_261: -0.98769;
	--sin_deg_262: -0.99027;
	--sin_deg_263: -0.99255;
	--sin_deg_264: -0.99452;
	--sin_deg_265: -0.99619;
	--sin_deg_266: -0.99756;
	--sin_deg_267: -0.99863;
	--sin_deg_268: -0.99939;
	--sin_deg_269: -0.99985;
	--sin_deg_270: -1.00000;
	--sin_deg_271: -0.99985;
	--sin_deg_272: -0.99939;
	--sin_deg_273: -0.99863;
	--sin_deg_274: -0.99756;
	--sin_deg_275: -0.99619;
	--sin_deg_276: -0.99452;
	--sin_deg_277: -0.99255;
	--sin_deg_278: -0.99027;
	--sin_deg_279: -0.98769;
	--sin_deg_280: -0.98481;
	--sin_deg_281: -0.98163;
	--sin_deg_282: -0.97815;
	--sin_deg_283: -0.97437;
	--sin_deg_284: -0.97030;
	--sin_deg_285: -0.96593;
	--sin_deg_286: -0.96126;
	--sin_deg_287: -0.95630;
	--sin_deg_288: -0.95106;
	--sin_deg_289: -0.94552;
	--sin_deg_290: -0.93969;
	--sin_deg_291: -0.93358;
	--sin_deg_292: -0.92718;
	--sin_deg_293: -0.92050;
	--sin_deg_294: -0.91355;
	--sin_deg_295: -0.90631;
	--sin_deg_296: -0.89879;
	--sin_deg_297: -0.89101;
	--sin_deg_298: -0.88295;
	--sin_deg_299: -0.87462;
	--sin_deg_300: -0.86603;
	--sin_deg_301: -0.85717;
	--sin_deg_302: -0.84805;
	--sin_deg_303: -0.83867;
	--sin_deg_304: -0.82904;
	--sin_deg_305: -0.81915;
	--sin_deg_306: -0.80902;
	--sin_deg_307: -0.79864;
	--sin_deg_308: -0.78801;
	--sin_deg_309: -0.77715;
	--sin_deg_310: -0.76604;
	--sin_deg_311: -0.75471;
	--sin_deg_312: -0.74314;
	--sin_deg_313: -0.73135;
	--sin_deg_314: -0.71934;
	--sin_deg_315: -0.70711;
	--sin_deg_316: -0.69466;
	--sin_deg_317: -0.68200;
	--sin_deg_318: -0.66913;
	--sin_deg_319: -0.65606;
	--sin_deg_320: -0.64279;
	--sin_deg_321: -0.62932;
	--sin_deg_322: -0.61566;
	--sin_deg_323: -0.60182;
	--sin_deg_324: -0.58779;
	--sin_deg_325: -0.57358;
	--sin_deg_326: -0.55919;
	--sin_deg_327: -0.54464;
	--sin_deg_328: -0.52992;
	--sin_deg_329: -0.51504;
	--sin_deg_330: -0.50000;
	--sin_deg_331: -0.48481;
	--sin_deg_332: -0.46947;
	--sin_deg_333: -0.45399;
	--sin_deg_334: -0.43837;
	--sin_deg_335: -0.42262;
	--sin_deg_336: -0.40674;
	--sin_deg_337: -0.39073;
	--sin_deg_338: -0.37461;
	--sin_deg_339: -0.35837;
	--sin_deg_340: -0.34202;
	--sin_deg_341: -0.32557;
	--sin_deg_342: -0.30902;
	--sin_deg_343: -0.29237;
	--sin_deg_344: -0.27564;
	--sin_deg_345: -0.25882;
	--sin_deg_346: -0.24192;
	--sin_deg_347: -0.22495;
	--sin_deg_348: -0.20791;
	--sin_deg_349: -0.19081;
	--sin_deg_350: -0.17365;
	--sin_deg_351: -0.15643;
	--sin_deg_352: -0.13917;
	--sin_deg_353: -0.12187;
	--sin_deg_354: -0.10453;
	--sin_deg_355: -0.08716;
	--sin_deg_356: -0.06976;
	--sin_deg_357: -0.05234;
	--sin_deg_358: -0.03490;
	--sin_deg_359: -0.01745;
	--sin_deg_360: -0.00000;

}
