/* Trigonometry definitions for css */

:root {
	/* Tan definitions in degrees */
	--tan_deg_0: 0.00000;
	--tan_deg_1: 0.01746;
	--tan_deg_2: 0.03492;
	--tan_deg_3: 0.05241;
	--tan_deg_4: 0.06993;
	--tan_deg_5: 0.08749;
	--tan_deg_6: 0.10510;
	--tan_deg_7: 0.12278;
	--tan_deg_8: 0.14054;
	--tan_deg_9: 0.15838;
	--tan_deg_10: 0.17633;
	--tan_deg_11: 0.19438;
	--tan_deg_12: 0.21256;
	--tan_deg_13: 0.23087;
	--tan_deg_14: 0.24933;
	--tan_deg_15: 0.26795;
	--tan_deg_16: 0.28675;
	--tan_deg_17: 0.30573;
	--tan_deg_18: 0.32492;
	--tan_deg_19: 0.34433;
	--tan_deg_20: 0.36397;
	--tan_deg_21: 0.38386;
	--tan_deg_22: 0.40403;
	--tan_deg_23: 0.42447;
	--tan_deg_24: 0.44523;
	--tan_deg_25: 0.46631;
	--tan_deg_26: 0.48773;
	--tan_deg_27: 0.50953;
	--tan_deg_28: 0.53171;
	--tan_deg_29: 0.55431;
	--tan_deg_30: 0.57735;
	--tan_deg_31: 0.60086;
	--tan_deg_32: 0.62487;
	--tan_deg_33: 0.64941;
	--tan_deg_34: 0.67451;
	--tan_deg_35: 0.70021;
	--tan_deg_36: 0.72654;
	--tan_deg_37: 0.75355;
	--tan_deg_38: 0.78129;
	--tan_deg_39: 0.80978;
	--tan_deg_40: 0.83910;
	--tan_deg_41: 0.86929;
	--tan_deg_42: 0.90040;
	--tan_deg_43: 0.93252;
	--tan_deg_44: 0.96569;
	--tan_deg_45: 1.00000;
	--tan_deg_46: 1.03553;
	--tan_deg_47: 1.07237;
	--tan_deg_48: 1.11061;
	--tan_deg_49: 1.15037;
	--tan_deg_50: 1.19175;
	--tan_deg_51: 1.23490;
	--tan_deg_52: 1.27994;
	--tan_deg_53: 1.32704;
	--tan_deg_54: 1.37638;
	--tan_deg_55: 1.42815;
	--tan_deg_56: 1.48256;
	--tan_deg_57: 1.53986;
	--tan_deg_58: 1.60033;
	--tan_deg_59: 1.66428;
	--tan_deg_60: 1.73205;
	--tan_deg_61: 1.80405;
	--tan_deg_62: 1.88073;
	--tan_deg_63: 1.96261;
	--tan_deg_64: 2.05030;
	--tan_deg_65: 2.14451;
	--tan_deg_66: 2.24604;
	--tan_deg_67: 2.35585;
	--tan_deg_68: 2.47509;
	--tan_deg_69: 2.60509;
	--tan_deg_70: 2.74748;
	--tan_deg_71: 2.90421;
	--tan_deg_72: 3.07768;
	--tan_deg_73: 3.27085;
	--tan_deg_74: 3.48741;
	--tan_deg_75: 3.73205;
	--tan_deg_76: 4.01078;
	--tan_deg_77: 4.33148;
	--tan_deg_78: 4.70463;
	--tan_deg_79: 5.14455;
	--tan_deg_80: 5.67128;
	--tan_deg_81: 6.31375;
	--tan_deg_82: 7.11537;
	--tan_deg_83: 8.14435;
	--tan_deg_84: 9.51436;
	--tan_deg_85: 11.43005;
	--tan_deg_86: 14.30067;
	--tan_deg_87: 19.08114;
	--tan_deg_88: 28.63625;
	--tan_deg_89: 57.28996;
	--tan_deg_90: 16331239353195370.00000;
	--tan_deg_91: -57.28996;
	--tan_deg_92: -28.63625;
	--tan_deg_93: -19.08114;
	--tan_deg_94: -14.30067;
	--tan_deg_95: -11.43005;
	--tan_deg_96: -9.51436;
	--tan_deg_97: -8.14435;
	--tan_deg_98: -7.11537;
	--tan_deg_99: -6.31375;
	--tan_deg_100: -5.67128;
	--tan_deg_101: -5.14455;
	--tan_deg_102: -4.70463;
	--tan_deg_103: -4.33148;
	--tan_deg_104: -4.01078;
	--tan_deg_105: -3.73205;
	--tan_deg_106: -3.48741;
	--tan_deg_107: -3.27085;
	--tan_deg_108: -3.07768;
	--tan_deg_109: -2.90421;
	--tan_deg_110: -2.74748;
	--tan_deg_111: -2.60509;
	--tan_deg_112: -2.47509;
	--tan_deg_113: -2.35585;
	--tan_deg_114: -2.24604;
	--tan_deg_115: -2.14451;
	--tan_deg_116: -2.05030;
	--tan_deg_117: -1.96261;
	--tan_deg_118: -1.88073;
	--tan_deg_119: -1.80405;
	--tan_deg_120: -1.73205;
	--tan_deg_121: -1.66428;
	--tan_deg_122: -1.60033;
	--tan_deg_123: -1.53986;
	--tan_deg_124: -1.48256;
	--tan_deg_125: -1.42815;
	--tan_deg_126: -1.37638;
	--tan_deg_127: -1.32704;
	--tan_deg_128: -1.27994;
	--tan_deg_129: -1.23490;
	--tan_deg_130: -1.19175;
	--tan_deg_131: -1.15037;
	--tan_deg_132: -1.11061;
	--tan_deg_133: -1.07237;
	--tan_deg_134: -1.03553;
	--tan_deg_135: -1.00000;
	--tan_deg_136: -0.96569;
	--tan_deg_137: -0.93252;
	--tan_deg_138: -0.90040;
	--tan_deg_139: -0.86929;
	--tan_deg_140: -0.83910;
	--tan_deg_141: -0.80978;
	--tan_deg_142: -0.78129;
	--tan_deg_143: -0.75355;
	--tan_deg_144: -0.72654;
	--tan_deg_145: -0.70021;
	--tan_deg_146: -0.67451;
	--tan_deg_147: -0.64941;
	--tan_deg_148: -0.62487;
	--tan_deg_149: -0.60086;
	--tan_deg_150: -0.57735;
	--tan_deg_151: -0.55431;
	--tan_deg_152: -0.53171;
	--tan_deg_153: -0.50953;
	--tan_deg_154: -0.48773;
	--tan_deg_155: -0.46631;
	--tan_deg_156: -0.44523;
	--tan_deg_157: -0.42447;
	--tan_deg_158: -0.40403;
	--tan_deg_159: -0.38386;
	--tan_deg_160: -0.36397;
	--tan_deg_161: -0.34433;
	--tan_deg_162: -0.32492;
	--tan_deg_163: -0.30573;
	--tan_deg_164: -0.28675;
	--tan_deg_165: -0.26795;
	--tan_deg_166: -0.24933;
	--tan_deg_167: -0.23087;
	--tan_deg_168: -0.21256;
	--tan_deg_169: -0.19438;
	--tan_deg_170: -0.17633;
	--tan_deg_171: -0.15838;
	--tan_deg_172: -0.14054;
	--tan_deg_173: -0.12278;
	--tan_deg_174: -0.10510;
	--tan_deg_175: -0.08749;
	--tan_deg_176: -0.06993;
	--tan_deg_177: -0.05241;
	--tan_deg_178: -0.03492;
	--tan_deg_179: -0.01746;
	--tan_deg_180: -0.00000;
	--tan_deg_181: 0.01746;
	--tan_deg_182: 0.03492;
	--tan_deg_183: 0.05241;
	--tan_deg_184: 0.06993;
	--tan_deg_185: 0.08749;
	--tan_deg_186: 0.10510;
	--tan_deg_187: 0.12278;
	--tan_deg_188: 0.14054;
	--tan_deg_189: 0.15838;
	--tan_deg_190: 0.17633;
	--tan_deg_191: 0.19438;
	--tan_deg_192: 0.21256;
	--tan_deg_193: 0.23087;
	--tan_deg_194: 0.24933;
	--tan_deg_195: 0.26795;
	--tan_deg_196: 0.28675;
	--tan_deg_197: 0.30573;
	--tan_deg_198: 0.32492;
	--tan_deg_199: 0.34433;
	--tan_deg_200: 0.36397;
	--tan_deg_201: 0.38386;
	--tan_deg_202: 0.40403;
	--tan_deg_203: 0.42447;
	--tan_deg_204: 0.44523;
	--tan_deg_205: 0.46631;
	--tan_deg_206: 0.48773;
	--tan_deg_207: 0.50953;
	--tan_deg_208: 0.53171;
	--tan_deg_209: 0.55431;
	--tan_deg_210: 0.57735;
	--tan_deg_211: 0.60086;
	--tan_deg_212: 0.62487;
	--tan_deg_213: 0.64941;
	--tan_deg_214: 0.67451;
	--tan_deg_215: 0.70021;
	--tan_deg_216: 0.72654;
	--tan_deg_217: 0.75355;
	--tan_deg_218: 0.78129;
	--tan_deg_219: 0.80978;
	--tan_deg_220: 0.83910;
	--tan_deg_221: 0.86929;
	--tan_deg_222: 0.90040;
	--tan_deg_223: 0.93252;
	--tan_deg_224: 0.96569;
	--tan_deg_225: 1.00000;
	--tan_deg_226: 1.03553;
	--tan_deg_227: 1.07237;
	--tan_deg_228: 1.11061;
	--tan_deg_229: 1.15037;
	--tan_deg_230: 1.19175;
	--tan_deg_231: 1.23490;
	--tan_deg_232: 1.27994;
	--tan_deg_233: 1.32704;
	--tan_deg_234: 1.37638;
	--tan_deg_235: 1.42815;
	--tan_deg_236: 1.48256;
	--tan_deg_237: 1.53986;
	--tan_deg_238: 1.60033;
	--tan_deg_239: 1.66428;
	--tan_deg_240: 1.73205;
	--tan_deg_241: 1.80405;
	--tan_deg_242: 1.88073;
	--tan_deg_243: 1.96261;
	--tan_deg_244: 2.05030;
	--tan_deg_245: 2.14451;
	--tan_deg_246: 2.24604;
	--tan_deg_247: 2.35585;
	--tan_deg_248: 2.47509;
	--tan_deg_249: 2.60509;
	--tan_deg_250: 2.74748;
	--tan_deg_251: 2.90421;
	--tan_deg_252: 3.07768;
	--tan_deg_253: 3.27085;
	--tan_deg_254: 3.48741;
	--tan_deg_255: 3.73205;
	--tan_deg_256: 4.01078;
	--tan_deg_257: 4.33148;
	--tan_deg_258: 4.70463;
	--tan_deg_259: 5.14455;
	--tan_deg_260: 5.67128;
	--tan_deg_261: 6.31375;
	--tan_deg_262: 7.11537;
	--tan_deg_263: 8.14435;
	--tan_deg_264: 9.51436;
	--tan_deg_265: 11.43005;
	--tan_deg_266: 14.30067;
	--tan_deg_267: 19.08114;
	--tan_deg_268: 28.63625;
	--tan_deg_269: 57.28996;
	--tan_deg_270: 5443746451065123.00000;
	--tan_deg_271: -57.28996;
	--tan_deg_272: -28.63625;
	--tan_deg_273: -19.08114;
	--tan_deg_274: -14.30067;
	--tan_deg_275: -11.43005;
	--tan_deg_276: -9.51436;
	--tan_deg_277: -8.14435;
	--tan_deg_278: -7.11537;
	--tan_deg_279: -6.31375;
	--tan_deg_280: -5.67128;
	--tan_deg_281: -5.14455;
	--tan_deg_282: -4.70463;
	--tan_deg_283: -4.33148;
	--tan_deg_284: -4.01078;
	--tan_deg_285: -3.73205;
	--tan_deg_286: -3.48741;
	--tan_deg_287: -3.27085;
	--tan_deg_288: -3.07768;
	--tan_deg_289: -2.90421;
	--tan_deg_290: -2.74748;
	--tan_deg_291: -2.60509;
	--tan_deg_292: -2.47509;
	--tan_deg_293: -2.35585;
	--tan_deg_294: -2.24604;
	--tan_deg_295: -2.14451;
	--tan_deg_296: -2.05030;
	--tan_deg_297: -1.96261;
	--tan_deg_298: -1.88073;
	--tan_deg_299: -1.80405;
	--tan_deg_300: -1.73205;
	--tan_deg_301: -1.66428;
	--tan_deg_302: -1.60033;
	--tan_deg_303: -1.53986;
	--tan_deg_304: -1.48256;
	--tan_deg_305: -1.42815;
	--tan_deg_306: -1.37638;
	--tan_deg_307: -1.32704;
	--tan_deg_308: -1.27994;
	--tan_deg_309: -1.23490;
	--tan_deg_310: -1.19175;
	--tan_deg_311: -1.15037;
	--tan_deg_312: -1.11061;
	--tan_deg_313: -1.07237;
	--tan_deg_314: -1.03553;
	--tan_deg_315: -1.00000;
	--tan_deg_316: -0.96569;
	--tan_deg_317: -0.93252;
	--tan_deg_318: -0.90040;
	--tan_deg_319: -0.86929;
	--tan_deg_320: -0.83910;
	--tan_deg_321: -0.80978;
	--tan_deg_322: -0.78129;
	--tan_deg_323: -0.75355;
	--tan_deg_324: -0.72654;
	--tan_deg_325: -0.70021;
	--tan_deg_326: -0.67451;
	--tan_deg_327: -0.64941;
	--tan_deg_328: -0.62487;
	--tan_deg_329: -0.60086;
	--tan_deg_330: -0.57735;
	--tan_deg_331: -0.55431;
	--tan_deg_332: -0.53171;
	--tan_deg_333: -0.50953;
	--tan_deg_334: -0.48773;
	--tan_deg_335: -0.46631;
	--tan_deg_336: -0.44523;
	--tan_deg_337: -0.42447;
	--tan_deg_338: -0.40403;
	--tan_deg_339: -0.38386;
	--tan_deg_340: -0.36397;
	--tan_deg_341: -0.34433;
	--tan_deg_342: -0.32492;
	--tan_deg_343: -0.30573;
	--tan_deg_344: -0.28675;
	--tan_deg_345: -0.26795;
	--tan_deg_346: -0.24933;
	--tan_deg_347: -0.23087;
	--tan_deg_348: -0.21256;
	--tan_deg_349: -0.19438;
	--tan_deg_350: -0.17633;
	--tan_deg_351: -0.15838;
	--tan_deg_352: -0.14054;
	--tan_deg_353: -0.12278;
	--tan_deg_354: -0.10510;
	--tan_deg_355: -0.08749;
	--tan_deg_356: -0.06993;
	--tan_deg_357: -0.05241;
	--tan_deg_358: -0.03492;
	--tan_deg_359: -0.01746;
	--tan_deg_360: -0.00000;

}
